
header{
    text-align: center;
    padding: 5px;     
    background-color: #ffe4e1;
    margin: 0px;
    border: 1px solid #ffe4e1;
    border-radius: 35px;
      
}
.imgc {
       
       width: 100%;
       max-width: 400px;
       height: 100px;
     
}
