
header{
    text-align: center;
    padding: 5px;     
    background-color: #667;
    margin: 0px;
    border: 1px solid #fff;
   
      
}
.imgc {
       
       width: 100%;
       max-width: 400px;
       height: 100px;
     
}
