.container{
    width: 100vw;
    height: 100vh;
    background: #161a2b;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
   
    padding: 30px;
    background-color: #fff;
}

.title{
  font-size: 24px;
  font-weight: 300;
}

.form{
  display: flex;
  flex-direction: column;
}

.input{
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

.btn{
  display: flex;
  width: 100%;
  border: none;
  padding: 15px 20px;
  background-color: #1C1C1C;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.btny{
  display: flex;
  width: 100%;

  border: none;
  padding: 15px 20px;
  background-color: #4682b4;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}